<h1>New post</h1>

<form id="new-post" name="post">
  <div class="field">
    <label for="title"> Enter Title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Add Post" />
  </div>

</form>
